<div class="content-center">
<h1>Stupid coaching</h1>


<form action="/answer" data-turbo="false">
  <label for="answer">Ask your coach something</label>
  <input type="text" name="answer">
  <input type="submit" value="Ask!" class="button">
</form>
</div>
