/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .content-center {
  margin: 20px auto;
  width: 50%;
  display: flex;
  display: block;
  text-align: center;
  justify-content: center;
  background-color: rgb(209, 153, 79);
  padding: 20px;
  border-radius: 15px;
 }

 form {
  margin-top: 20px;

 }

 input {
  border: 1px solid gray;
  border-radius: 5px;
 }

 .button{
  background-color: lightgray;
 }

 .link{
  text-decoration: none;
  color: black;
 }

 .link:hover {
  color: black;
  background-color: rgb(244, 180, 95);
  padding: 8px;
  border-radius: 15px;
 }

 .question {
  background-color: antiquewhite;
  border-radius: 15px;
 }

 .answer{
  background-color: burlywood;
  border-radius: 15px;
 }
